.info{
  border: 1px solid black;
  background-color: #133528;
  box-shadow: 1px 5px 10px black;
  border-radius: 10px;
  width: 900px;
  height: 500px;
  margin: 50px 0px 10px 15%;

}

.info{

  display: grid;
  grid-template-columns:  50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px  50px  50px 50px 50px 50px 50px  50px;
  grid-template-rows:  50px 50px 50px 50px 50px 50px 50px 30px 30px 30px;
}

.nameoftheperson{

  grid-column: 7/19 ;
  grid-row: 2/3;
  color: aliceblue;
  text-shadow: 0px 0px 5px black;
}

.html ,.css,.js,.eng{

  display: inline-flex;
  grid-row: 8/9 ;
  font-size: 15px;
  text-align: center;
  border-radius: 14px;
  text-shadow: 0px 0px 2px black;
  justify-content: center;
  align-items: center;

}

.html{

  background-color: #57e7d8;
  color: black;
  grid-column: 8/9;

}
.css{

  background-color: #57e7d8;
  color: black;
  grid-column: 10/11;

}
.js{

  background-color: #57e7d8;
  color: black;
  grid-column: 12/15;

}
.eng{

  background-color: #57e7d8;
  color: black;
  grid-column: 16/18;

}
.self{

  grid-column:7/18;
  grid-row: 4/7 ;
  color:rgb(198, 197, 197);
  text-shadow: 0px 0px 5px black;
  font-weight: 200;

}
h4{
  grid-column: 7/10;
  grid-row:7/8;
  color:white;
  text-shadow: 0px 0px 5px black;
}
button{
  grid-column: 8/11;
  grid-row:10/11;
  border: none;
  box-shadow: 0px 0px 5px black;

}